.Register {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #222;
    text-align: left;
}

.Register label {
    display: block;
    margin: 10px auto;
    padding-left: 15px;
    text-align: left;
    font-weight: bold;
}

.Register input,
.Register textarea,
.Register select {
    /* display: block; */
    /* width: 80%; */
    size: 50px;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
    font: inherit;
    margin: auto;
}

.Register button {
    margin: 5px 0;
    padding: 10px;
    font: inherit;
    border: 1px solid #fa923f;
    background-color: transparent;
    color: #fa923f;
    cursor: pointer;
}

.Register button:hover,
.Register button:active {
    color: white;
    background-color: #fa923f;
}