.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed; /* this keeps toolbar at top, even when we scroll */
    top: 0;
    left: 0;
    background-color: #703b70;
    /* display: flex;   so all items in toolbar are aligned to each other. see more about flexbox */
    justify-content: space-between; 
    align-items: center;  /* vertical alignment */
    padding: 0, 20px;   /* zero top and bottom, 20px left and right */
    box-sizing: border-box;
    z-index: 90;  /* this value needs to be lower than the UI/Backdrop/Backdrop.css backdrop to dislay properly */
}
.Toolbar nav {
    height: 100%;
    
}